* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

main {
  margin-top: 10rem;
  display: flex;
  gap: 120px;
}
main h2 {
  margin-bottom: 50px;
}
main aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 30px;
}
main aside .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main aside .user-info h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
main aside .user-info p {
  font-size: 1.1rem;
}
main aside .user-info img {
  max-width: 110px;
  border-radius: 50%;
}
main aside ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main aside ul .active-item {
  border-color: #893429;
  font-weight: 500;
}
main aside ul li {
  font-size: 1.1rem;
  border-left: 4px solid transparent;
  padding: 10px;
  cursor: pointer;
}
main .active-section {
  display: flex;
}
main .personal-data-container,
main .manage-books-container,
main .add-book-container {
  flex: 1;
  padding-top: 20px;
}
main .personal-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .personal-data-container .personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  border: 1px solid #893429;
  padding: 30px;
  border-radius: 4px;
}
main .personal-data-container .personal-data .data-field {
  font-size: 1.2rem;
}
main .personal-data-container .personal-data .data-field label {
  font-weight: 500;
}
main .personal-data-container .personal-data .email-field {
  grid-column: span 2;
}
main .manage-books-container {
  display: none;
  flex-direction: column;
}
main .manage-books-container .custom-nav {
  padding-right: 70px;
}
main .manage-books-container .custom-nav .custom-nav-btn {
  background-color: #893429;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 30px;
  transition: 0.2s;
}
main .manage-books-container .custom-nav .custom-nav-btn:hover {
  opacity: 0.9;
}
@media (max-width: 1410px) {
  main .manage-books-container .custom-nav {
    padding-right: 218px;
  }
}
main .manage-books-container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
main .manage-books-container .cards .manage-buttons {
  display: flex;
  justify-content: end;
}
main .manage-books-container .cards .manage-buttons button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  transition: 0.2s;
}
main .manage-books-container .cards .manage-buttons button:hover {
  background-color: rgba(208, 207, 207, 0.681);
}
main .manage-books-container .cards .manage-buttons .manage-img {
  width: 20px;
}
main .add-book-container {
  display: none;
  flex-direction: column;
}
main .add-book-container form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}
main .add-book-container form label {
  font-size: 1.1rem;
  margin-bottom: 8px;
}
main .add-book-container form input {
  width: 100%;
  padding: 5px 10px;
}
main .add-book-container form .bookDescription {
  grid-column: span 2;
}
main .add-book-container form .custom-select {
  width: 100%;
}
main .add-book-container form button {
  background-color: #893429;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 30px;
  transition: 0.2s;
}
main .add-book-container form button:hover {
  opacity: 0.9;
}
main form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}
main form label {
  font-size: 1.1rem;
  margin-bottom: 8px;
}
main form input {
  width: 100%;
  padding: 5px 10px;
}
main form .bookDescription {
  grid-column: span 2;
}
main form .custom-select {
  width: 100%;
}
main form button {
  background-color: #893429;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 30px;
  transition: 0.2s;
}
main form button:hover {
  opacity: 0.9;
}

/*# sourceMappingURL=admin.css.map */
